<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Welcome to NULESandbox forum!</h1>
<br><br>
<h3>
<p>Here you can learn many information about the project, talk with other players and even creator!</p>
<p>This game and forum was created by one person, student of National University of Life and Environmental Sciences!</p>
<p>Oh, yeah, if you want connect to conversation (talk with other players), you need to sign in.</p>
<br><br>
</h3>
<h2>What are you waiting for? Open "Tutorial" and start playing!</h2>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}