<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Welcome to NULESandbox forum!</h1>
<br><br>
<p><h3>Here you can learn many information about the project, talk with other players and even creator!</h3></p>
<p><h3>This game and forum was created by one person, student of National University of Life and Environmental Sciences!</h3></p>
<br><br>
<h2>What are you waiting for? Open "Tutorial" and start playing!</h2>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}