<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- LOGO-NAME -->
    <a class="navbar-brand" href="/"><h3>
      <b class="text-primary">NULE</b><b class="text-success">S</b><b class="text-warning">andbox</b>
    </h3></a>
    <!-- Objects next to logo (discussions and signings) -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="navbar-header"><h3>
        <a class="navbar-brand" href="/tutorial">
          Tutorial
        </a> </h3>
      </li>

      <li class="navbar-header"><h3>
        <a class="navbar-brand" href="/tutorial">
          F.A.Q.
        </a> </h3>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> -->

      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->

        <li class="navbar-header">
          <a class="navbar-brand" href="/article/create">Create Article</a>
        </li>

      {{end}} 
    </ul>
    <ul class="form-inline my-2 my-lg-0">

    {{ if eq .is_logged_in false}}
      <!--Display this link only when the user is not logged in-->
      <li class="nav-item dropdown form-control mr-sm-2">
        <a class="nav-link dropdown-toggle mt-n2 font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in
        </a>
        <div class="panel panel-default dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="panel-body ">

            <!-- <form class="form " action="/" method="POST"> -->
              <div class="form-group dropdown-item">
                <label for="usernameLogin">Username</label>
                <input type="text" class="form-control " id="usernameLogin" name="usernameLogin" placeholder="Username">
              </div>
              <div class="form-group dropdown-item">
                <label for="passwordLogin">Password</label>
                <input type="password" class="form-control " id="passwordLogin" name="passwordLogin" placeholder="Password">
              </div>
              <br>
              <button id="b44" class="btn btn-primary ml-4">Login</button>
            <!-- </form> -->
          </div>
        </div> 
      </li>

    {{end}}


    <!-- User not logged in -->
    <!-- Showing Sign up "button" -->
    {{ if not .is_logged_in }}
    <li class="form-control mr-sm-2 font-weight-bold btn btn-light" data-toggle="modal" data-target="#staticBackdrop">
      <a href="#">Sign up</a>
    </li>

    <!-- Modal window sign up-->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Signing up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="panel panel-default col-sm-6">
              <div class="panel-body">
                <!--Create a form that POSTs to the `/u/register` route-->
                <form class="form" action="/u/register" method="POST">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{end}} 
    {{ if .is_logged_in }}
      <!--Display this link only when the user is logged in-->

      <li class="form-control mr-sm-2 font-weight-bold">
        <a href="/u/logout">Logout</a>
      </li>

    {{end}}
    </ul>
  </div>
</nav>
<p id="errorMenu"></p>

<!--If there's an error, display the error-->
{{ if .ErrorTitle}}
<p class="bg-danger dropdown-item text-white font-weight-bold">
  {{.ErrorTitle}}: {{.ErrorMessage}}
</p>
{{end}}




<div class="container">

